<launch>
	<node name="ros_hubo_interface" pkg="HuboApplication" type="ros_hubo_interface" />
	<node name="test_ros_hubo_interface" pkg="HuboApplication" type="test_ros_hubo_interface" output="screen"/>
	<!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find HuboApplication)/fastrak.vcg" /-->
</launch>
